---
layout: layouts/base.njk
---

<div>
    <video playsinline autoplay></video>
    <canvas id="canvas"></canvas>
</div>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script type="module" src="/_dist_/index.js"></script>